<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/styles.css")
    body
        .app
            .app__col-1
            .app__col-2
                .mac__col-1
                .mac__col-2
                    .a__col-1
                    .a__col-2